
/** 
* ALL THE FONTS
*/
@font-face {
  font-family: ProximaNova-Regular;
  src: url(../src/assets/fonts/ProximaNova-Regular.otf);
}

@font-face {
  font-family: ProximaNova-Semibold;
  src: url(../src/assets/fonts/ProximaNova-Semibold.otf);
}



body {
  font-family: 'ProximaNova-Regular', sans-serif !important;
  font-size: 14px;
}

hr {
  margin-top: .5rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

a {
    color: #000 !important;
}

h6 {
  font-family: ProximaNova-Semibold;
  font-size: 20px;
}

h5 {
  font-family: ProximaNova-Semibold;
  font-size: 14px;
  letter-spacing: 1px;
}

h4 {
  font-family: ProximaNova-Semibold;
  font-size: 12px;
  letter-spacing: 1px;
}

h3 {
  font-family: ProximaNova-Semibold;
  font-size: 30px;
  letter-spacing: 3px;
}

h2 {
  font-family: ProximaNova-Semibold;
  font-size: 16px;
  letter-spacing: 2px;
}


/************************
******NAVIGATION/MENU.JS
*************************/

/**
* menu headers
*/

.menu-header{
  font-size: 14px;
  font-family: ProximaNova-Semibold;
}

/**
*background of navigationtab
*/

.navbar {
  background-color: #fff;
  height: 54px;

}

.nav-tabs .nav-link{
  border: 0px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

/* ICONS */

.fa-heart {
  color: red;
}

/* cart badge */

.cart-badge,
.cart-badge:hover {
    border: radius 0%;
    padding: 1px;
    font-size: 10px;
    font-style: normal;
    color: #fff;
    background: #c9dce1;
}

.nav-item {
  font-size: 12px;
  font-family: ProximaNova-Semibold;
}

.nav-item-main {
  font-size: 16px;
  font-family: ProximaNova-Semibold;
}

/* black shade form 10-1 */
.black-10 {
  background: #fffaf9;
  font-family: 'ProximaNova-Regular', sans-serif !important;
}
.black-9 {
  background: #fff8f7;
  font-family: 'ProximaNova-Regular', sans-serif !important;
}
.black-8 {
  background: #fff3f0;
  font-family: 'ProximaNova-Regular', sans-serif !important;
}
.black-7 {
  background: #f8d8d8;
  font-family: 'ProximaNova-Regular', sans-serif !important;
}
.black-6 {
  background: #bfbfbf;
  font-family: 'ProximaNova-Regular', sans-serif !important;
}
.black-5 {
  background: #fff;
  color: #000;
  font-family: ProximaNova-Semibold;
  font-size: 12px;
  letter-spacing: 1px;
}
.black-4 {
  color: #485252;
  font-family: ProximaNova-Semibold;
  font-size: 18px;
  letter-spacing: 2px;
}

/**
* CARDD
*/

.card{
  border: none;
  border-radius: 0;
  padding: 0;
}

.card-body{
  padding-right: 15px;
  padding-left: 15px;
  border: none;
  border-radius: 0;
  padding: 0;
}

p.lead {
  font-family: ProximaNova-Regular;
  font-size: 12px;
}

p.details-lead {
  font-family: ProximaNova-Regular;
  font-size: 16px;
}


/**
 * single product page - product name
 */

.name {
  background: #c9dce1;
  color: #000;
  font-weight: bold;

}

.lead{
  font-family: 'ProximaNova-Regular', sans-serif !important;
  font-size: 14px;
}

.product-img {
  min-height: 100px;
}

.payment-module {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  padding: 20px;
  width: 100%;
}

/**
* view product/add to cart buttons
*/

.btn{
  border-radius:1px;
  font-size: 12px;
  color: #000;
}

.btn-outline-primary{
  background-color: #fff;
  color: #000;
  border-color: #000;
  font-size: 12px;
}

.btn-outline-primary:hover{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-primary:focus{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-primary:active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(114, 96, 153, 0.6);
  outline: 0 none;
}
.btn-outline-primary:not(:disabled):not(.disabled):active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
  outline: 0 none;
}

.btn-outline-primary:not(:disabled):not(.disabled):focus{
box-shadow: 0 0 5px #fff;
}

.btn-outline-secondary{
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.btn-outline-secondary:hover{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-secondary:focus{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-secondary:active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(114, 96, 153, 0.6);
  outline: 0 none;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
  outline: 0 none;
}

.btn-outline-secondary:not(:disabled):not(.disabled):focus{
box-shadow: 0 0 5px #fff;
}

.btn-outline-warning{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-warning:hover{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-warning:focus{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-warning:active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(114, 96, 153, 0.6);
  outline: 0 none;
}
.btn-outline-warning:not(:disabled):not(.disabled):active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
outline: 0 none;
}

.btn-outline-warning:not(:disabled):not(.disabled):focus{
box-shadow: 0 0 5px #fff;
}

.btn-outline-danger{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-danger:hover{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-danger:focus{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-danger:active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(114, 96, 153, 0.6);
  outline: 0 none;
}
.btn-outline-danger:not(:disabled):not(.disabled):active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
outline: 0 none;
}

.btn-outline-danger:not(:disabled):not(.disabled):focus{
box-shadow: 0 0 5px #fff;
}

.btn-purchase {
  font-family: ProximaNova-Semibold;
  background-color: #000;
  color: #fff;
  border-color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.btn-add {
  font-family: ProximaNova-Semibold;
  background-color: #fff;
  color: #000;
  border-color: #000;
  font-size: 16px;
  letter-spacing: 2px;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}


/**
* instock badge
*/
.badge-primary {
  background-color: #eef4f6;
  color: #a0b0b4;
  font-weight: normal;
}

/**
* PRODUCT DETAILS
*/

.details-img{
  vertical-align: left;
}


/**
*searchbar/dropdown/update
*/

/*
checkout buttons
*/
.checkout-buttons-container {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  /* border: 1px solid #000; */
  width: 100%;
}


.btn-group.show, .dropdown-menu.show {
  background-color: #4b4b4b;
}

.btn-group.show .dropdown-menu.show .dropdown-item {
  color: #e1e1e1;
}

.btn-group.show .dropdown-menu.show .dropdown-divider {
  border-top: 1px solid rgba(50, 50, 50, 0.9);
}

.btn-group.show .dropdown-menu.show .dropdown-item:hover,
.btn-group.show .dropdown-menu.show .dropdown-item:focus {
  background-color: #000000;
  color: #ffffff;
}

.input-group, .input-group-text, .input-group-prepend, .form-control {
  font-family: ProximaNova-Semibold;
  font-size: 12px;
  letter-spacing: 1px;
}

.form-group {
  font-family: ProximaNova-Regular;
  font-size: 12px;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}

.input-group:focus {
  border: none;
  box-shadow: none;
}

.form-check-label {
  font-family: ProximaNova-Regular;
  font-size: 12px;
}

/**
* THE CHECKBOX 
* AND THE RADIO BOOXXX
*/




/**
 * border radius
 */

.btn,
.jumbotron,
.nav :hover {
    border-radius: 0px;
}


.jumbotron h2 {
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .jumbotron h2 {
        margin-top: 10px;
    }
}


/**
 * jumbotron animation
 */

.splash {
  margin: auto;
  align-content: flex-start;
  /* display: flex;
  flex: 1; */
  flex-direction: column;
  justify-content: center;

}
.carousel-container {
  margin-top: 4vh;
  object-fit: none;
  width: 100%;
  /* margin: auto; */
  display: block;
  overflow: hidden;
  flex: block;
  object-fit: cover;
}

.homepage-container {
  margin-top: 1vh;
  flex-shrink: 0;
  flex: block;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  margin-top: 10vh;
}

.related {
  margin-top: 5vh;
}

.jumbotron {
    width: 30wh;
    height: 10vh;
    color: #000;
    background: linear-gradient(-45deg, #f9fbfc, #f4f8f9, #eef4f6, #e9f1f3, #e4edf0);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
