/** 
* ALL THE FONTS
*/
@font-face {
  font-family: ProximaNova-Regular;
  src: url(../src/assets/fonts/ProximaNova-Regular.otf);
}

@font-face {
  font-family: ProximaNova-Semibold;
  src: url(../src/assets/fonts/ProximaNova-Semibold.otf);
}

/* hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#000;
  height: .5px;
} */

body {
  font-family: 'ProximaNova-Regular', sans-serif !important;
  font-size: 14px;
}

hr {
  margin-top: .5rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

a {
    color: #000 !important;
}

h6 {
  font-family: ProximaNova-Semibold;
  font-size: 20px;
}

h5 {
  font-family: ProximaNova-Semibold;
  font-size: 14px;
  letter-spacing: 1px;
}

h4 {
  font-family: ProximaNova-Semibold;
  font-size: 12px;
  letter-spacing: 1px;
}

h3 {
  font-family: ProximaNova-Semibold;
  font-size: 56px;
  letter-spacing: 5px;
}

h2 {
  font-family: ProximaNova-Semibold;
  font-size: 16px;
  letter-spacing: 2px;
}

h1 {
  font-family: ProximaNova-Semibold;
  font-size: 30px;
  letter-spacing: 2px;
}

.bg-primary {
  background-color: #f7fafa!important;
}


/************************
******NAVIGATION/MENU.JS
*************************/

/**
* menu headers
*/

.menu-header{
  font-size: 14px;
  font-family: ProximaNova-Semibold;
}

/**
*background of navigationtab
*/

.navbar {
  background-color: #fff;
  height: 53px;
}

.nav-tabs .nav-link{
  border: 0px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.nav-link:hover {
  text-decoration: underline;
}

/* ICONS */

.fa-heart {
  color: #cc0000;
  font-size: 18px;
}

.far {
  color: #000;
  font-size: 18px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 5px;
  right: 6px;
}

.fa-edit {
  font-size: 16px;
}

.fa-trash-alt {
  font-size: 16px;
}

/* cart badge */

.cart-badge,
.cart-badge:hover {
    border: radius 0%;
    padding: 1px;
    font-size: 10px;
    font-style: normal;
    color: #fff;
    background: #c9dce1;
}

.nav-item {
  font-size: 12px;
  font-family: ProximaNova-Semibold;
}

.nav-item-main {
  font-size: 16px;
  font-family: ProximaNova-Semibold;
}

/* black shade form 10-1 */
.black-10 {
  background: #f7fafa;
  font-family: 'ProximaNova-Regular', sans-serif !important;
}
.black-9 {
  background: #f7fafa;
  font-family: 'ProximaNova-Regular', sans-serif !important;
}
.black-8 {
  background: #f7fafa;
  font-family: 'ProximaNova-Regular', sans-serif !important;
}
.black-7 {
  background: #f7fafa;
  font-family: 'ProximaNova-Regular', sans-serif !important;
}
.black-6 {
  background: #fff;
  color: #000;
  font-family: ProximaNova-Semibold;
  font-size: 12px;
  letter-spacing: 1px;
}
.black-5 {
  background: #fff;
  color: #000;
  font-family: ProximaNova-Semibold;
  font-size: 12px;
  letter-spacing: 1px;
}
.black-4 {
  color: #485252;
  font-family: ProximaNova-Semibold;
  font-size: 18px;
  letter-spacing: 2px;
}

.body-small {
  font-size: 10px;
}
/**
* CARDD
*/

.card{
  border: none;
  border-radius: 0;
  padding: 0;
}

.card-dashboard{
  /* border: 1px solid #000; */
  border-radius: 0;
  padding: 0;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  position: relative;
}

.card-header {
  padding: .75rem .75rem;
  margin-bottom: 0;
  background-color: #f7fafa;

  border-bottom: 1px #000!important;
}

.card-body{
  padding-right: 15px;
  padding-left: 15px;
  border: none;
  border-radius: 0;
  padding: 0;
}

p.lead {
  font-family: ProximaNova-Regular;
  font-size: 12px;
}

p.details-lead {
  font-family: ProximaNova-Regular;
  font-size: 16px;
}

.in-category {
  font-size: 12px;
}
/**
 * signin
 */


/**
 * single product page - product name
 */

.name {
  background: #c9dce1;
  color: #000;
  font-weight: bold;

}

.lead{
  font-family: 'ProximaNova-Regular', sans-serif !important;
  font-size: 14px;
}

.product-img {
  min-height: 100px;
}

.payment-module {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  padding: 20px;
  width: 100%;
}

/**
* view product/add to cart buttons
*/

.btn{
  border-radius:1px;
  font-size: 12px;
  color: #000;
}

.btn-outline-primary{
  background-color: #fff;
  color: #000;
  border-color: #000;
  font-size: 12px;
  font-family: ProximaNova-Semibold;
  letter-spacing: 1px;
}

.btn-outline-primary:hover{
  background-color: #000;
  color: #fff;
  box-shadow: none;
  border-color: #000;
  outline: none;
  font-size: 12px;
  letter-spacing: 1px;
  border-color: #fff;
}

.btn-outline-primary:focus{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
  box-shadow: none;
  outline: none;
}

.btn-outline-primary:active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(114, 96, 153, 0.6);
  outline: 0 none;
}
.btn-outline-primary:not(:disabled):not(.disabled):active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
  outline: 0 none;
}

.btn-outline-primary:not(:disabled):not(.disabled):focus{
box-shadow: 0 0 5px #fff;
}

.btn-outline-secondary{
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.btn-outline-secondary:hover{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-secondary:focus{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-secondary:active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(114, 96, 153, 0.6);
  outline: 0 none;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
  outline: 0 none;
}

.btn-outline-secondary:not(:disabled):not(.disabled):focus{
box-shadow: 0 0 5px #fff;
}

.btn-outline-warning{
  background-color: #fff;
  border-color: red;
  color: red;
  font-size: 12px;
}

.btn-outline-warning:hover{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-warning:focus{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-warning:active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(114, 96, 153, 0.6);
  outline: 0 none;
}
.btn-outline-warning:not(:disabled):not(.disabled):active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
outline: 0 none;
}

.btn-outline-warning:not(:disabled):not(.disabled):focus{
box-shadow: 0 0 5px #fff;
}

.btn-outline-danger{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-danger:hover{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-danger:focus{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

.btn-outline-danger:active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(114, 96, 153, 0.6);
  outline: 0 none;
}
.btn-outline-danger:not(:disabled):not(.disabled):active{
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
outline: 0 none;
}

.btn-outline-danger:not(:disabled):not(.disabled):focus{
box-shadow: 0 0 5px #fff;
}

.btn-purchase {
  font-family: ProximaNova-Semibold;
  background-color: #000;
  color: #fff;
  border-color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.btn-purchase:hover {
  font-family: ProximaNova-Semibold;
  background-color: #000;
  color: #fff;
  border-color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}


.btn-add {
  font-family: ProximaNova-Semibold;
  background-color: #fff;
  color: #000;
  border-color: #000;
  font-size: 16px;
  letter-spacing: 2px;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.btn-add:hover {
  font-family: ProximaNova-Semibold;
  background-color: #000;
  color: #fff;
  border-color: #000;
  font-size: 16px;
  letter-spacing: 2px;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.btn-added {
  pointer-events: none;
  font-family: ProximaNova-Semibold;
  background-color: #000;
  color: #fff;
  border-color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}


/**
* instock badge
*/
.badge-primary {
  background-color: #f7fafa;
  color: #000;
  font-size: 12px;
}

/**
* PRODUCT DETAILS
*/

.details-img{
  vertical-align: left;
}


/**
*searchbar/dropdown/update
*/

.input-file {
  background-color: #fff;
  color: #000;
  border-color: #000;
  font-size: 12px;
  letter-spacing: 1px;

}

.input-file:focus {
    background-color: #fff;
    border-color: #000;
    color: #000;
    font-size: 12px;
    box-shadow: none!important;
    outline: none!important;
}

.input,.input:active {
  border: 1px solid #000!important;
  box-shadow: none;
}

.input-group-md {
  width: 275px;
}

/*
checkout buttons
*/
.checkout-buttons-container {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  /* border: 1px solid #000; */
  width: 100%;
}

.text-success {
  color: #0c5460;
  background-color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  width: 50%;
  padding: .75rem .75rem;
  border: 1px solid #0c5460!important;
  margin-bottom: 3vh;
  border-radius: 0;
  width: 100%!important;
}

.text-danger {
  color: #cc0000;
  border: 1px solid #cc0000!important;
}

.text-loading {
  color: #000;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: ProximaNova-Semibold;
}

.alert {
  color: #cc0000;
  background-color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  width: 50%;
  padding: .75rem .75rem;
  border: 1px solid #cc0000!important;
  margin-bottom: 3vh;
  border-radius: 0;
  width: 100%!important;
}

.input-group-md .border{
  /* border: 1px solid #000!important; */
}


.btn-group.show, .dropdown-menu.show {
  background-color: #4b4b4b;
}

.btn-group.show .dropdown-menu.show .dropdown-item {
  color: #e1e1e1;
}

.btn-group.show .dropdown-menu.show .dropdown-divider {
  border-top: 1px solid rgba(50, 50, 50, 0.9);
}

.btn-group.show .dropdown-menu.show .dropdown-item:hover,
.btn-group.show .dropdown-menu.show .dropdown-item:focus {
  background-color: #000000;
  color: #ffffff;
}

.input-group, .input-group-text, .input-group-prepend, .form-control {
  font-family: ProximaNova-Semibold;
  font-size: 16px;
  letter-spacing: 2px;
}

.form-group {
  font-family: ProximaNova-Regular;
  font-size: 12px;
}

.form-control:focus {
  /* border: none; */
  box-shadow: none;
  border: 1px solid #000!important;
  -webkit-appearance: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: none!important;
}

.form-control {
  -webkit-appearance: none;
  border-radius: 0;
}

.input-group:focus {
  border: none;
  box-shadow: none;
}

.form-check-label {
  font-family: ProximaNova-Regular;
  font-size: 12px;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #f7fafa!important;
  opacity: 1;
}

/*ADMIN USER DASHBOARD LINKS*/
.list-group-item {
  position: relative;
  display: block;
  /* padding: .25rem .5rem; */
  margin-bottom: -1px;
  background-color: #fff;
  border: 0!important;
}

/**
* THE CHECKBOX 
* AND THE RADIO BOOXXX
*/

/**
* TABLE
*/

/* th {
  border-bottom: 1px solid !important;
} */
.table-wrapper {
  width: 700px;
  margin: 30px auto;
  /* background: #fff; */
  padding: 20px;	
  /* box-shadow: 0 1px 1px rgba(0,0,0,.05); */
}
.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
  border-bottom: 0;
}
.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
}
.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}
/* .table-title .add-new i {
  margin-right: 4px;
} */
table.table {
  table-layout: fixed;
}
/* table.table tr th, table.table tr td {
  border-color: #fff !important;
} */
/* table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
} */
/* table.table th:last-child {
  width: 100px;
} */
table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}    

table.table td i {
  font-size: 19px;
} 
table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}     
/* table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 0px;
} */
table.table .form-control.error {
  border-color: #cc0000;
}
table.table td .add {
  display: none;
}

.table-bordered td {
  border: 1px solid #fff !important;
}
/**
 * border radius
 */

.btn,
.jumbotron,
.nav :hover {
    border-radius: 0px;
}


.jumbotron h2 {
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .jumbotron h2 {
        margin-top: 10px;
    }
}


/**
 * jumbotron animation
 */

.splash {
  margin: auto;
  align-content: stretch;
  flex-direction: column;
}
.carousel-container {
  margin-top: 4vh;
}

.homepage-container {
  margin-top: 6vh;
  flex: block;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}

.container {
  margin-top: 10vh;
}

.container-create {
  margin-top: 10vh;
}

.container-search {
  width: 100%;
}

.container-search-result {
  display: flex;
  background: #fff;
  margin-left: 9px;
  overflow-x: hidden;
  height: 500px;
  width: 400px;
  overflow-y: scroll !important;
}

.navbar-collapse {
  /* overflow-y: scroll !important; */
  /* align-items: flex-start;
  max-height: 1000px !important; */
  /* width: auto !important; */
}

.window {
  justify-content: space-between;
  
}

.related {
  margin-top: 5vh;
}

.jumbotron {
    width: 30wh;
    height: 10vh;
    color: #000;
    background: linear-gradient(-45deg, #f9fbfc, #f4f8f9, #eef4f6, #e9f1f3, #e4edf0);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
